{% extends 'base.html.twig' %}

{% block title %}Edit MediaObject{% endblock %}

{% block body %}
    <h1>Edit MediaObject</h1>

    {{ include('media_object/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('media_object_index') }}">back to list</a>

    {{ include('media_object/_delete_form.html.twig') }}
{% endblock %}
